/* SliderComponent.css */

/* Define custom cursor with the provided image */
.custom-cursor {
  cursor: url("https://img.icons8.com/keek/100/000000/experimental-cursor-keek.png"),
    auto;
}

/* Apply custom cursor when hovering over images */
.slick-slider img {
  cursor: pointer; /* Fallback cursor if custom cursor is not supported */
}

.slick-slider img:hover {
  cursor: url("https://img.icons8.com/keek/100/000000/experimental-cursor-keek.png"),
    auto;
}
