.transition-transform {
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.scale-90 {
  transform: scale(0.9);
}

.scale-100 {
  transform: scale(1);
}
